//
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "variables";
@import "partials/header";
@import "partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Asap Condensed, sans-serif;
    width: 100%;
}

.bg_primary {
    background-color: $first;
}

.myButton {
    padding: 10px;
    border: 2px solid $first;
    background-color: transparent;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: white;
        color: $first;
    }
}

.bg-banner-blue {
    background-color: $first;
    position: relative;
    z-index: 1;
.col-6 {
    font-size: 13px;

    &:hover {
        transform: scale(1.2);
        transition: transform .3s ease-in-out;
    }
}
    img {
        max-height: 50px;            
    }

    svg {
        max-height: 35px;
        stroke: white;
        fill:none;
        stroke-width:1.7732;
        stroke-miterlimit:10;
    }
}

